body {
  background: #3e1d09;
  background-repeat: no-repeat;
  background-image: url(resim/bg-body.jpg);
  background-position: center top;
  background-repeat: no-repeat;
  font-family: Arial, Helvetica, sans-serif;
}
* {
  box-sizing: border-box;
}
.sil {
  clear: both;
}
.ana {
  width: 940px;
  margin: auto;
}
header {
  width: 940px;
  height: 500px;
}
.menuyeri {
  width: 432px;
  height: 80px;
  float: right;
}
.menu {
  padding: 0px;
  margin: 0px;
  list-style-type: none;
}
.menu li {
  float: left;
}
.menu a {
  width: 72px;
  height: 80px;
  display: block;
  color: #552305;
  line-height: 80px;
  text-decoration: none;
  text-align: center;
}
.menu a:hover {
  background-image: url(resim/buttons.gif);
}
.banneryazi {
  float: right;
  margin-right: 30px;
  margin-top: 120px;
  color: white;
}
.katil + p {
  font-size: larger;
}
.katil {
  width: 175px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  border-radius: 10px;
  display: block;
  background-color: #209201;
  box-shadow: 2px 2px #209201;
  text-shadow: 1px 1px black;
  color: white;
  text-decoration: none;
  font-weight: bolder;
  font-size: x-large;
}
.gallery {
  height: 840px;
  background-color: #4a2105;
  border: 1px solid #5a3721;
  border-radius: 10px;
  padding-left: 10px;
  color: #c1c1c1;
}
.gallery h3 {
  color: #ff5b07;
}
.gallery h4 {
  color: #ff5b07;
  display: block;
  font-weight: 500;
}
.gallery p {
  font-size: 15px;
  text-align: left;
}
.resim1 {
  background-image: url(resim/gallery-girls.jpg);
  width: 280px;
  height: 190px;
  float: left;
  margin-right: 15px;
  margin-bottom: 100px;
}
.resim2 {
  background-image: url(resim/gallery-family.jpg);
  width: 280px;
  height: 190px;
  float: left;
  margin-right: 15px;
  margin-bottom: 100px;
}
.resim3 {
  background-image: url(resim/gallery-biker.jpg);
  width: 280px;
  height: 190px;
  float: left;
  margin-bottom: 100px;
}
.resim4 {
  background-image: url(resim/gallery-biker2.jpg);
  width: 280px;
  height: 190px;
  float: left;
  margin-right: 15px;
  margin-top: 70px;
}
.resim5 {
  background-image: url(resim/gallery-family2.jpg);
  width: 280px;
  height: 190px;
  float: left;
  margin-right: 15px;
  margin-top: 70px;
}
.resim6 {
  background-image: url(resim/gallery-boys.jpg);
  width: 280px;
  height: 190px;
  float: left;
  margin-top: 70px;
}
.yazi {
  margin-top: 200px;
  width: 280px;
}
.yazi2 {
  margin-top: 200px;
  width: 280px;
}
footer {
  height: 50px;
  background-color: #209201;
  color: white;
  text-align: center;
  line-height: 50px;
  margin-top: 20px;
  border-radius: 10px;
  box-shadow: 2px 2px #209201;
}
